#topBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
    padding: 7px 11px 7px 11px;
    font-size: 20px;
}
#topBtn:hover {
    background-color: #16a085;
    border-radius: 7px;
}
.fixNav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
}
.cart-body{
    z-index:999;
    width:31%;
}
.inner-header{
    background-color: #ffffff
}
.inner-title,.beta-breadcrumb, .beta-breadcrumb a{
    color: black
}
.pull-left{
    color: #2FBFC1;
    font-weight: 500;
}
.beta-sales-price{
    font-size: 16px;
}
.add-to-cart{
    background-color: #1ABC9C;
}
.add-to-cart:hover{
    background-color: #F39C12;
    border-radius: 7px;
}
.cart-item-title{
    font-weight: 500;
}
.cart-item-plus{
    position: absolute;
    top: 40px;
    right: 0;
    background: #e1e1e1;
    font-size: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
}
.cart-item-minimize{
    position: absolute;
    top: 60px;
    right: 0;
    background: #e1e1e1;
    font-size: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 10px;
}
.cart-item-minimize i{
    padding-left: 3.5px;
}
.cart-value{
    color: #f90;
    font-weight: 500;
}
.cart-total-value{
    font-weight: 500;
}
.cart-in-menu, .cart-in-menu i{
    color: #fff;
}
.form-block .radio_gender{
    width:30px;
}
.form-block .checkbox_remember{
    width:30px;
    display: block;
}
.form-block button{
    background:#1abc9c;
    border-color:#16a085;
    color: #FFF;
}
.your-order .checkout-btn{
    background-color: #1abc9c;
    border-color: #16a085;
}
.your-order .checkout-btn:hover{
    background-color: #F39C12;
    border-color: #fff;
}
.form-block label{
    width:150px;
}
/*fonts*/
    @font-face {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 300;
      src: local('Dosis Light'), local('Dosis-Light'), url(../fonts/dosis/Dosis-Light.otf) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 300;
      src: local('Dosis Light'), local('Dosis-Light'), url(../fonts/dosis/Dosis-Light.otf) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
    @font-face {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 400;
      src: local('Dosis Regular'), local('Dosis-Regular'), url(../fonts/dosis/Dosis-Regular.otf) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
      font-family: 'Dosis';
      font-style: normal;
      font-weight: 400;
      src: local('Dosis Regular'), local('Dosis-Regular'), url(../fonts/dosis/Dosis-Regular.otf) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans/OpenSans-Light.ttf) format('woff2');
      unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans/OpenSans-Light.ttf) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans/OpenSans-Light.ttf) format('woff2');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans/OpenSans-Light.ttf) format('woff2');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans/OpenSans-Light.ttf) format('woff2');
      unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans/OpenSans-Light.ttf) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/open-sans/OpenSans-Light.ttf) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
    /* cyrillic-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/open-sans/OpenSans-Regular.ttf) format('woff2');
      unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/open-sans/OpenSans-Regular.ttf) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/open-sans/OpenSans-Regular.ttf) format('woff2');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/open-sans/OpenSans-Regular.ttf) format('woff2');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/open-sans/OpenSans-Regular.ttf) format('woff2');
      unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/open-sans/OpenSans-Regular.ttf) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/open-sans/OpenSans-Regular.ttf) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
/*end fonts*/

/*menu*/
    .header-bottom {
        background-color: #1abc9c;
    }
    .main-menu>ul.l-inline> li> a{
        background-color: #1abc9c;
        color: #ffffff;
        font-size: 15px;
        padding: 9px 30px 11px 30px;
    }
    #cart-menu-li{
        display: none;
    }
    #cart-menu-a{
        padding: 9px 15px 11px 15px;
    }
    .main-menu>ul.l-inline> li> a:hover{
        background-color: #16a085;
    }
    .main-menu ul li.active> a{
        color:#2c3e50!important;
    }
    .sub-menu li:hover, .children li:hover{
        background-color: #1abc9c;
    }
    .sub-menu li a{
        font-size: 14px;
    }
/*end menu*/

/*sliders chung*/
    .slick-slide img{
        max-width: 100%;
        height: 200px;
    }
    .slick-slide .single-item{
        margin-bottom: 25px;
    }
    .slides-data-for{
        height: 700px;
    }
    .slides-data-for img{ /*chiều cao riêng cho image slider banner*/
        height: 700px;
    }
    .slides-data-nav{
        width: 350px;
        height: 50px;
        margin: 0 auto;
        padding-top: 7px;
    }
    .slides-data-nav img{
        height: 50px;
        padding: 0px 7px 0px 7px;
    }
    .slides-data-nav img:hover
    {
        border: 0px solid #f5f5f5;
        border-radius: 15px;
        opacity: 0.7;
    }
/*end sliders*/

/*slider body product*/
    .single-item:hover a.add-to-cart{background: #f39c12;}
    .ribbon{
        z-index: 998;
    }
    .ribbon.sale {
        background-color: #9b59b6;
        font-weight: 500;
    }
    .single-item{
        margin-bottom: 25px;
    }
    .single-item-body{ /*khoảng cách giữa phần giá tiền và nút giỏ hàng+chi tiết*/
        margin-bottom: 7px;
    }
/*end slider body product*/

/*slider product detail*/
    .other-products-data .single-item-body p,
    .similar-products-data .single-item-body p
    {
        font-size: 14px;
    }

    .product-detail-image-for{
        height: 290px;
    }
    .product-detail-image-for img{ /*chiều cao riêng cho image slider detail product*/
        height: 290px;
    }
    .product-detail-image-nav{
        width: 300px;
        height: 60px;
    }
    .product-detail-image-nav img{
        height: 60px;
        padding: 0px 7px 0px 7px;
    }
    .product-detail-image-nav img:hover
    {
        border: 0px solid #f5f5f5;
        border-radius: 15px;
        opacity: 0.7;
    }
    .wc-select{
        width: 60px;
        border-radius: 4px;
    }
    .product-detail-btn{
        color: #fff;
        background-color: #1ABC9C;
        border: none;
    }
    .product-detail-btn:hover{
        color: #fff;
        background-color: #F39C12;
    }

/*zoom ảnh detail*/
    .myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    .myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        height: 450px;
    }
    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)}
        to {-webkit-transform:scale(1)}
    }
    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }
    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }
/*end slider product detail*/

/*user comment*/
    .comments-area{
        max-width: 100%;
        height: 100%;
    }
    .show-comment{
        max-width: 100%;
        height: 90%;
        overflow: inherit;
        /*border: 1px solid black;*/
    }
    .add-comment{
        max-width: 100%;
        height: 9%;
        overflow: inherit;
        /*margin-top: -5%;*/
        /*border: 1px solid black;*/
    }
        .comments{
            max-width: 100%;
            height: 80px;
        }
        .user-avatar{
            float: left;
        }
            .user-avatar img{
                border-radius: 30px;
                width: 50px;
                height: 50px;
                border: 1px solid #bdc3c7;
            }
        .user-name{
            float: left;
            margin-right: 7px;
        }
            .user-name p{
                margin-left: 15px;
                color: #2ecc71;
                font-weight: 500;
            }
        .user-comment{
            max-width: 90%;
            height: auto;
            margin: 10px 0px 0px 70px;
        }
            .user-comment p{
                color: #34495e;
                font-weight: 500;
            }
            .user-comment span{
                color: #34495e;
                font-size: 11px;
            }
    .add-comment textarea{
        width:100%;
        height: 100px;
    }
    .add-comment button{
        background-color:#1ABC9C;
        border-color: #1ABC9C;
    }
    .add-comment button:hover{
        background-color:#1ABC9C;
        border-color: #1ABC9C;
    }
    .show-error{display: none;}
    .show-success{display: none;}
/*end user comment*/

/*Table profile*/
  table.shop_table{
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
  }
  table.shop_table td {
    width: 25%;
  }
  table.shop_table img {
    height: 70px;
  }
  table.shop_table td.product-price .amount{
    color:#F39C12;
  }
  .actions{
    font-size: 22px;
  }
  tfoot td a, tfoot td a i {
    font-size: 14px;
    background-color: #F6F6F6;
    color: #1ABC9C;
    font-weight: bold;
  }
  .product-name{
    width: 40%;
    height: auto;
  }
  .product-price, .product-unit, .product-quantity{
    width: 20%;
    height: auto;
  }
/*news*/
  .show-news{
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  .news-item{
    width: 100%;
    height: 150px;
    margin-bottom:3%;
  }
  .news-item-left{
    width: 20%;
    height: 100%;
    text-align: center;
    float: left;
  }
  .news-item-right{
    width: 75%;
    height: 100%;
    float: right;
  }
  .news-item-left img{
    max-width: 100%;
    max-height: 100%;
    /*margin: 0 auto;*/
    margin-left: 20%;
  }
  .news-title{
    width: 100%;
    height: 20%;
    border-bottom:1px solid #7f8c8d;
  }
  .news-title a{
    color: #438EE1;
    font-weight: 500;
    font-size:20px;
  }
  .news-title a:hover{
    color: #34495e;
  }
  .news-content{
    width: 100%;
    height: 60%;
  }
  .news-content p, .news-content strong, .news-content span{
    color: #34495e;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }
  .news-button{
    width: 100%;
    height: 20%;
    text-align: left;
  }
  .news-button button{
    font-size: 12px;
    width: 80px;
    height: 30px;
  }
  .news-paginate{
    text-align: center;
  }
  .news-paginate .pagination li a,
  .pagination .disabled a,
  .pagination .disabled span
  {
    color: #16a085;
    font-weight: 500;
    font-size: 15px;
  }

  .read-news-title{
    font-weight: 500;
    color: #444444;
  }
  .featured-image{
    margin-bottom: 10px;
  }
  .featured-image img{
    max-width: 100%;
    max-height: 100%;
  }
  .date-author{
    text-indent: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .date-author i{
    color: #1abc9c;
  }
  .date-author span{
    color: #6B6B6B;
    font-weight: 500;
  }
  .read-news-content{
    width: 70%;
    height: auto;
  }
/*footer*/
    #footer.color-div input {
        background: #ecf0f1;
    }
    .color-div {
        background: #172431!important;
    }
    .pay-options a{
        margin-right: 0px;
    }
    .pay-options i{
        font-size:27px;
        margin-top: 10px;
        color:white;
    }
/*end footer*/
