.login_content h1:after, .login_content h1:before {
	width:20%;
}
.login_content form div button {
    font-size: 12px;
    margin: 10px 15px 0 0;
}

/*product-details*/
.product_gallery a img {
     margin-top: 0px;
}
.product-detail-image-nav img:hover
{
    border: 0px solid #f5f5f5;
	opacity: 0.7;
}
/*add product*/
.custom-file-upload{
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
/*slides gallery*/
.col-md-55 .tqcustom{
    width:25%;
}
.editSlug{
    width: 62%;
}
.editSlug span{
    width: auto;
    padding-top: 8px;
    color: #26B99A;
    font-weight: bold;
    float: left;
}
.editSlug input{
    width: 45%;
    float: left;
}
.editSlugCheckbox{
    width: auto;
    padding-top: 7px;
    float: left;
    margin-left: -3%;
}
.editActiveRadio{
    padding-top: 6.5px;
}
.editActiveRadio p{font-size: 14px; font-weight: bold;}
.list-news i{
    font-size: 17px;
}
.count-pending-news{
    padding: 1px 2px 1px 2px;
    background-color: #e74c3c;
    border-radius: 7px;
    font-weight: 500;
    font-size: 12px;
}
#menu1 span strong{
    color: #e74c3c;
}
